.book-cart{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.book-cart a{
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 600px) {
    .book-card{
        padding: 20px;
        display: grid;
        grid-template-columns:100px 1fr;
        grid-row-gap: 10px;
    }
  }
