.add-book form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.add-book input,textarea{
    width: 50%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}